<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>the zeremlo app</title>
    <link rel="stylesheet" href="/static/css/landing.css">
</head>
<body>
    <div class="backpic-container">
    <div class="container">
        <header>
            <img src="" alt="" class="logo">

            <nav>
                <a href="#" class="hide-desktop">
                    <img src="/static/images/ham.svg" alt="toggle menu" class="menu" id="menu">
                </a>

                <ul class="show-desktop hide-mobile" id="nav">
                    <li id="exit" class="exit-btn hide-desktop">
                        <img src="/static/images/exit.svg" alt="exit menu">
                    </li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Report</a></li>
                    <li><a href="#">Goal</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </header>

        <section>
            
            <h1>Helping you help your back</h1>
            <p class="subhead">devloped by the Zeremlo Team</p>
            
        </section>
    </div>
    </div>
    
	<div class="container">
			<h2>Sit up stright today!</h2>
			<a href="/main" class="cta">Get Started</a>
		</div>
		
    <div class="blue-container">
        <div class="container">
            <h2> a simple solution for the modern way of life </h2>
            <h3>we give you an online tool that keeps your back and eyes healthier  </h3>
        </div>
    </div>

    <div class="gray-container">
        <div class="container">
            <ul>
                <li>
                    <figure>
                        <img src="/static/images/amit.PNG" alt="User testimonial picture">
                        <blockquote>Ive been using this app for 3 weeks and I feel great, thanks</blockquote>
                        <figcaption>- Gal salti</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="/static/images/Niv.PNG" alt="User testimonial picture">
                        <blockquote>I spend 6 hours a day in fornt of the computer and the app helps me rember to take care of my self</blockquote>
                        <figcaption>- Niv fuchs</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="/static/images/ofir.PNG" alt="User testimonial picture">
                        <blockquote>As a student the app realy helps me improve my posture</blockquote>
                        <figcaption>- Offir Nir</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>



    <footer>
        <div class="footer-container">
            <div class="container">
                <a href="#">
                    <img src="/static/images/logo.PNG" class="logo" alt="logo">
                </a>
                <p class="address">IDC - Herzileya<br>IL</p>
                <ul class="footer-links">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script>
    
        var menu = document.getElementById('menu');
        var nav = document.getElementById('nav');
        var exit = document.getElementById('exit');

        menu.addEventListener('click', function(e) {
            nav.classList.toggle('hide-mobile');
            e.preventDefault();
        });

        exit.addEventListener('click', function(e) {
            nav.classList.add('hide-mobile');
            e.preventDefault();
        });

    </script>

</body>
</html>