

<!DOCTYPE html>
<html>
<head>
    <title>Image gallery</title>

   <link rel="stylesheet" href="{{url_for('static', filename='lib/cmGauge.css')}}">

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
     <script src="{{url_for('static', filename='lib/webcam.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/jquery-3.3.1.min.js')}}"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Patrick+Hand" rel="stylesheet">

</head>
<body>
    <embed src="/static/sounds/beep1.wav" autostart="false" width="0" height="0" id="beep_sound"
enablejavascript="true">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mylinks" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="#" class="navbar-brand">Name</a>
            
        </div>

        
        <div class="container">
        <!-- all of the content in that div is going to collapse. the id of the div is to tell the hamburger what to show -->
            <div class="collapse navbar-collapse" id="mylinks">
                <ul class="nav navbar-nav">
                    <li><a href="#">Start</a></li>

                </ul>
                
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Report</a></li>
                    <li><a href="#">Goal</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>  
        </div>
    </nav>

    <h1>Time To Straight Up!</h1>
        <div class = "jumbotron" style="clear: both;">
            <div class="container" id="main-box">
            <div class = "row">
                <div class="col-sm-6">
                    <div id="main-box">
                        <div id="my_camera"></div>     
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class = "row">
                        <button id="start_btn" class="btn btn1 btn-primary btn-rounded btn-lg">Pause</button>
                    </div>
                    <div class = "row">
                        <button class="btn btn1 btn-danger btn-rounded btn-lg">Get Report</button>
                    </div>
                        
                    
                    
                </div>
                <div class="col-sm-3">
                    <p id="min-header">Quick Settings</p>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="soundOn" checked data-toggle="toggle">
                        Sound
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="videoOn" checked  data-toggle="toggle">
                        Video
                      </label>
                    </div>
                </div>
            </div>
             
            
            <div id="panel">


                
            </div> 
           
        </div>
    </div>

     <div id="blue" class = "jumbotron" style="clear: both;">
            <div  class="container">
                <div class = "row">
                    <div class="col-sm-6">
                        <h3>Eye Distance</h3>
                        <div id="gauge1" class="gauge gauge-big gauge-green">
                            <div class="gauge-arrow" data-percentage="40"
                                 style="transform: rotate(0deg);"></div>
                        </div>
                        
                    </div>
                     <div class="col-sm-6">
                        <h3>Postur</h3>
                        <div id="gauge2" class="gauge gauge-big gauge-green">
                            <div class="gauge-arrow" data-percentage="40"
                                 style="transform: rotate(0deg);"></div>
                            </div>
                        </div>
                        
                </div>
            </div> 
    </div>


<!-- need thease 2 line for drop down menus and the hamburger menu -->
<!-- <script src="https://code.jquery.com/jquery-2.1.4.js"></script> -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- <script src="js/cmGauge.js"></script> -->
<script src="{{url_for('static', filename='lib/cmGauge.js')}}"></script>
<script src="{{url_for('static', filename='connection.js')}}"></script>
<!-- <script type="text/javascript">
    $(function () {
        $("button").click(function () {
            var randomNum = Math.floor((Math.random() * 100));
            $('#gauge1 .gauge-arrow').trigger('updateGauge', randomNum);
        });

        $('#gaugeDemo .gauge-arrow').cmGauge();
    });
</script> -->

</body>
</html>